@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ultraLight truetype=ttf*/
@font-face {
  font-family: "myfont-ultraLight";
  src: url("../public/helvetica-neue-55-cdnfonts/HelveticaNeueUltraLightItal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Light opentype=otf*/
@font-face {
  font-family: "myfont-light";
  src: url("../public//helvetica-neue-55-cdnfonts/HelveticaNeueLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Medium */
@font-face {
  font-family: "myfont-medium";
  src: url("../public/helvetica-neue-55-cdnfonts/HelveticaNeueMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Heavy */
@font-face {
  font-family: "myfont-heavy";
  src: url("../public/helvetica-neue-55-cdnfonts/HelveticaNeue-HeavyCond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 300;
}
body {
  background: #fff;
}
a {
  text-decoration: none;
  color: unset;
}
.btn {
  background-color: #FF6666;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  border:1px solid #FF6666;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-family: 'Arial', sans-serif;
  margin-top: 2rem;
  transition: all 0.5s 0s ease;
}
.btn:hover {
  background: #dd6666;
  color: #fff;
  border:1px solid #dd6666;
}
.btn_container {
  display: flex;
  justify-content: center;
}
.btn-gray {
  background-color: #888585;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-family: 'Arial', sans-serif;
  margin-top: 2rem;
}
.btn-black {
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  border:1px solid black;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 5rem;
  font-family: 'Arial', sans-serif;
  margin-top: 2rem;
}
.btn-black:hover {
  background: #67656a;
  color: #fff;
  border:1px solid #67656a;
  transition: all 0.5s 0s ease;
}
select {
  outline: none;
}
.box select {
  width: 210px;
  font-size: 14px;
}
.hide-spin::-webkit-inner-spin-button,
.hide-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;
}
/* input.inputText, input.hide-spin, select {
  display: inline-block;
  width: 5em !important;
  max-width: 100%;
  padding: 0.5em;
  border: 1px solid #999;
  box-sizing: border-box;
  background: #f2f2f2;
  margin: 0.5em 0;
  width: 100%;
} 
input.inputText2 {
  display: inline-block;
  width: 15em !important;
  max-width: 100%;
  padding: 0.5em;
  border: 1px solid #999;
  box-sizing: border-box;
  background: #f2f2f2;
  margin: 0.1em 0.3rem;
}  */
/* input number sidebutton no display */ 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* input border no display */ 
input[type="number"]:focus {
  outline: none; /* フォーカス時の枠線を非表示 */
}

/* ============= Sidebar Css =====================*/
.sidebar {
  width: 20%;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: black;
}
.sidebar_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.sidebar_header, .sidebar_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.sidebar_header-logo h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  color: #fff;
  font-size: 35px;
  font-family: 'Playfair Display'!important;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  opacity: 1;
}
.sidebar_list {
  width: 100%;
}
.sidebar_list li {
  width: 100%;
  height: 3rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-family: "myfont-medium";
}
.sidebar p {
  font-family: "myfont-medium";
  color: #fff;
}
/* ============= Dashboard Top =====================*/

.facture_container {
  padding-top: 200px;
}
.facture_item, .dashboard_item {
  width: 100%;
  padding: 10px;
  transition: 1s;
  border: 1px solid gray;
  border-radius: 2px;
}
.facture_id {
  cursor: pointer;
}
.facture_id:hover {
  color:pink;
  transform: scaleY(1.1);
}

/* ============= Create facture =====================*/
.bill_from, .client, .facture_date, .item_details, .payent, .note {
  margin-bottom: 1.9rem;
}

.bill_title, .client_title, .facture_date-title, .item_details-title, .payment-title, .note-title  {
  font-style: italic;
  font-family: "myfont-heavy";

}
.inline_form-group {
  margin-bottom: 1rem;
}
.form_group input, .form_group textarea {
  padding: 6px 10px;
  width: 100%;
  border: 2px black solid;
  outline: none;
  background: rgb(241, 241, 241);
  font-weight: 100;
}
.form_group select{
  padding: 8px 10px;
  width: 100%;
  border: 2px black solid;
  outline: none;
  background: rgb(241, 241, 241);
  font-weight: 100;
}
.form_group label {
  font-weight: 800;
  text-transform: uppercase;
}

.bill_title p {
  margin-bottom: 10px;
}

.inline_form-group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.inline_form-groupA {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.inline_form-groupB {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.edit-btn {
  padding: 7px 25px;
  background-color: pink;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border:1px solid pink;
}
.edit-btn:hover {
  background:transparent;
  color: pink;
  border:1px solid pink;
}
.draft-btn, .mark_as-btn {
  padding: 7px 25px;
  background-color: pink;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border:1px solid pink;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.rows {
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 16px;
}


/*================== Common ================= */
.dashboard, .rows, .payments, .items, .oneFacture, .companies, .commissions, .categories, .clients {
  position: fixed;
  top: 0;
  left: 20%;
  z-index: 9999;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.createpayment, .editPayment, .createItemForm, .editItemForm, .createFactureForm, .editFactureForm, .createCommission, .editCommissionForm, .createCategoryForm, .createCompanyForm, .editCompanyForm, .createClientForm, .editClientForm, .createPaymentForm, .editPaymentForm, .editItemForm {
  width: 80%;
  margin-left: 20%;
  padding: 40px;
}

.editCompanyForm_header-logo h3, .createCompanyForm_header-logo h3, .editCommissionForm_header-logo h3, .createCommissionForm_header-logo h3, .companies_header-logo h3, .commissions_header-logo h3, .clients_header-logo h3, .payments_header-logo h3, .categories_header-logo h3, .items_header-logo h3, .editItemsForm_header-logo h3, .companies_header-logo h3, .clients_header-logo h3, .payments_header-logo h3, .categories_header-logo h3, .payments_header-logo h3, .commissions_header-logo h3, .dashboard_header-logo h3, .createFactureForm_header-logo h3, .editFactureForm_header-logo h3, .createClientForm_header-logo h3, .editClientForm_header-logo h3, .createPaymentForm_header-logo h3, .editPaymentForm_header-logo h3, .categories_header-logo h3, .createCategoryForm_header-logo h3, .createItemForm_header-logo h3, .editItemForm_header-logo h3 {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.commissions_container, .companies_container, .clients_container, .payments_container, .categories_container, .items_container, .dashboard_container {
  height: auto;
  padding-bottom: 2rem;
  padding: 20px 20px 2rem 20px;
}
form {
  padding: 20px;
}
.card_group {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px gainsboro solid;
  outline: none;
  background: gainsboro;
  box-shadow: 2px 2px 2px gray;
}
.inline_card-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.edit-btn {
  padding: 7px 25px;
  background-color: pink;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border:1px solid pink;
}

.oneFacture_container {
  padding: 10px;
  width: 100%;
  min-height: 100vh; /* Set a minimum height to fill the viewport */
  display: flex;
  flex-direction: column;
}
.onePayment {
  margin-top: auto;
}

.onePayment_text {
  padding-top: 2px;
  display: flex;
  justify-items: space-between;
  gap:10px;
  font-size: 12px;
}
